.header{
    font-style: italic;
    text-align:center;
}

.container{
    background-color: #cecece;
    height:600px;
    width: 800px;
}
.newFont{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background-color: green;
    text-decoration: none;

}