<div class="container">
<h1 class="header">Welcome to our page. </h1>
<h5>Please register to continue</h5>

<nav>
  <ul style="display:flex;">
    <li style="margin: 25px; display: inline-block;">
      <a routerLink = "/register" class="newFont">Register</a>
    </li>
    <li style="margin: 25px; display: inline-block;">
      <a routerLink = "login" class="newFont">Login</a>
    </li>
    <li style="margin: 25px; display: inline-block;">
      <a routerLink = "logout" class="newFont">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
</div>